<div class="container">
    <form class="form-signin" ng-submit="signin()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" ng-model="email" class="input-block-level" placeholder="Email address" required>
        <input type="password" ng-model="password" class="input-block-level" placeholder="Password" required>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <input type="submit" class="btn btn-large btn-primary" value="Sign in"/>
    </form>
</div>